<div class="row">
  <div class="small-1 medium-2 large-3 columns"></div>
  <% @student_checks.each do |student_check| %>
    <%= simple_form_for student_check do |f| %>
    <div class="small-10 small-centered medium-8 large-6 columns">
      <%= f.input :initials %>
      <%= f.input :status, as: :select, collection: [['asleep', :asleep], ['awake', :awake], ['bathroom', :bathroom], ['pass', :pass], ['off campus', :off_campus], ['missing', :missing], ['empty', :empty]] %>
      <%= f.input :comment, as: :text %>
      <%= f.input :tour_id, as: :hidden, input_html: { value: @tour.id } %>
      <%= f.button :submit, value: "Submit", id: "student-check-form-button" %>
    </div>
    <% end %>
  <% end %>
  <div class="small-1 medium-2 large-3 columns"></div>
</div>
