<div class="row table-title-container">
  <div class="small-12 columns text-center">
  <h1 class="table-title">Houses</h1>
  </div>
</div>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th class="text-center">Total Rooms</th>
      <th class="text-center">Total Beds</th>
      <th class="text-center">Total Students</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @houses.each do |house| %>
      <tr>
        <td><%= house.name %></td>
        <td class="text-center"><%= house.rooms.count %></td>
        <td class="text-center"><%= house.beds.count %></td>
        <td class="text-center"><%= house.students.count %></td>
        <td class="text-center"><%= link_to "update", "#" %><br>
          <%= link_to "delete", "#"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row">
  <div class="small-12 columns text-center">
    <%= link_to "New House", new_house_path, class: "button new-resource-button" %>
  </div>
</div>
