<div class="row table-title-container">
  <div class="small-12 columns text-center">
  <h1 class="table-title">Houses</h1>
  </div>
</div>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th class="text-center">Total Rooms</th>
      <th class="text-center">Total Beds</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @houses.each do |house| %>
      <tr>
        <td><%= house.name %></td>
        <td class="text-center"><%= house.rooms.size %></td>
        <td class="text-center"><%= house.beds.size %></td>
        <td class="text-center">
          <a data-open='editModal<%="#{house.id}"%>'>edit</a><br>
          <a data-open='deleteModal<%="#{house.id}"%>'>delete</a>

          <div id='editModal<%="#{house.id}"%>' class="reveal" data-reveal data-options="showDelay:350; hideDelay:350">
            <h2 class="text-center">Edit House</h2>

            <%= simple_form_for house do |f| %>
              <%= f.input :name, placeholder: "Name", label: false %>

              <%= f.button :submit, value: "Submit" %>
            <% end %>

            <button class="close-button" data-close aria-label="Close modal" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>


          <div id='deleteModal<%="#{house.id}"%>' class="reveal" data-reveal data-options="showDelay:350; hideDelay:350">
            <h2 class="text-center">Are you sure?</h2>
            <div class="text-center">
              <%= link_to "Delete House", house_path(house), method: :delete, class: "button delete-resource-button" %>
            </div>
            <button class="close-button" data-close aria-label="Close modal" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @houses %>

<div class="row">
  <div class="small-12 columns text-center">
    <%= link_to "New House", new_house_path, class: "button new-resource-button" %>
  </div>
</div>
