<div class="row table-title-container">
  <div class="small-12 columns text-center">
  <h1 class="table-title">Houses</h1>
  </div>
</div>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th class="text-center">Total Rooms</th>
      <th class="text-center">Total Beds</th>
      <th class="text-center">Total Students</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @houses.each do |house| %>
      <tr>
        <td><%= house.name %></td>
        <td class="text-center"><%= house.rooms.count %></td>
        <td class="text-center"><%= house.beds.count %></td>
        <td class="text-center"><%= house.students.count %></td>
        <td class="text-center"><%= link_to "edit", edit_house_path(house) %><br>
          <a data-open='deleteModal<%="#{house.id}"%>'>delete</a>

          <div id='deleteModal<%="#{house.id}"%>' class="reveal" data-reveal>
            <h2 class="text-center">Are you sure?</h2>
            <div class="text-center">
              <%= link_to "Delete House", house_path(house), method: :delete, class: "button delete-resource-button" %>
            </div>
            <button class="close-button" data-close aria-label="Close modal" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @houses %>

<div class="row">
  <div class="small-12 columns text-center">
    <%= link_to "New House", new_house_path, class: "button new-resource-button" %>
  </div>
</div>
