<div class="row table-title-container">
  <div class="small-12 columns text-center">
  <h1 class="table-title">Rooms</h1>
  </div>
</div>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th class="text-center">House Name</th>
      <th class="text-center">Total Beds</th>
      <th class="text-center">QR Code</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.name %></td>
        <td class="text-center"><%= room.house.name %></td>
        <td class="text-center"><%= room.beds.size %></td>
        <td class="text-center"><%= image_tag(room.qrcode.image) %></td>
        <td class="text-center">
          <a data-open='editModal<%="#{room.id}"%>'>edit</a><br>
          <a data-open='deleteModal<%="#{room.id}"%>'>delete</a>

          <div id='editModal<%="#{room.id}"%>' class="reveal" data-reveal data-options="showDelay:350; hideDelay:350">
            <h2 class="text-center">Edit Room</h2>

            <%= simple_form_for room do |f| %>
              <%= f.input :house_id, collection: @houses %>
              <%= f.input :name %>

              <%= f.button :submit, value: "Submit" %>
            <% end %>

            <%= simple_form_for :qrcode, url: new_qrcode_path do |f| %>
              <%= f.hidden_field :identifier, :value => room.qrcode_identifier %>
              <%= f.button :submit, value: "Replace Existing QR Code" %>
            <% end %>

            <button class="close-button" data-close aria-label="Close modal" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div id='deleteModal<%="#{room.id}"%>' class="reveal" data-reveal data-options="showDelay:350; hideDelay:350">
            <h2 class="text-center">Are you sure?</h2>
            <div class="text-center">
              <%= link_to "Delete Room", room_path(room), method: :delete, class: "button delete-resource-button" %>
            </div>
            <button class="close-button" data-close aria-label="Close modal" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @rooms %>

<div class="row">
  <div class="small-12 columns text-center">
    <%= link_to "New Room", new_room_path, class: "button new-resource-button" %>
  </div>
</div>
