<div class="row report-filter-title-container">
  <div class="small-12 columns text-center">
  <h1 class="report-filter-title">Report Filters</h1>
  </div>
</div>

<%= render 'filters_form', houses: @houses %>

<div class="row csv-download-container">
  <div class="small-4 columns"></div>

  <div class="small-4 small-centered columns text-center">
    <%= link_to "Download Excel", report_filters_path(format: "xls"), class: "button text-center" %>
    <!-- <%= link_to "Download CSV", "#", class: "button text-center", id: "export" %> -->
  </div>

  <div class="small-4 columns"></div>
</div>

<% if @student_checks %>
  <%= render 'filtered_results', student_checks: @student_checks %>
  <%= paginate @student_checks %>
<% end %>
